{% extends "base.html" %}

{% block title %}Home - CollegeFinder{% endblock %}

{% block main_class %}container mt-5 pt-5{% endblock %}

{% block content %}
<div class="text-center my-5">
    <h1 class="display-4 fw-bold"> Welcome to CollegeFinder</h1>
    <p class="lead">Find the best collges based on your CET percentile in just a few clicks.</p>
    <hr class="my-4">

    <div class="d-flex justify-content-center">
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg me-3">Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-outline-secondary btn-lg">Register</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4 text-center">
        <h3>Smart Matching</h3>
        <p> Get personlized lst of colleges based on your Cet percentile and preference.</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Fast & Easy</h3>
        <p>Instantly filter through undreds of collges with our simple tool.</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Accurate Results</h3>
        <p>Stay updated with the latest cutoff data to make informed decisions.</p>

    </div>
</div>
{% endblock %}